.contentContainer{
    width: 55%;
    min-width: 700px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    padding: 20px 5vw 0 5vw;
}
.title{
    margin: 20px 0;
    color: rgb(0, 115, 207);
    font-weight: 1000 !important;
    font-size: 26px;
}
.jobTitleForm{
  width: 100%;
}
.inputContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin: 10px 0;
}
.inputContainer input, textarea{
    flex-grow: 1;
    padding: 5px 8px;
    height: 100%;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 18px;
}
.inputContainer input{
  font-size: 18px;
}
.inputContainer label, button{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px 22px;
    border: 2px solid black;
    justify-content: center;
    border-radius: 6px;
    font-size: 16px;
}
.inputContainer label{
  border: none;
  font-weight: 700;
  font-size: 20px;
}
.inputContainer button{
  background-color: rgb(0, 115, 207);
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 10px;
}

.messageForm{
  width: 100%;
  height: 70vh;
}
.chat{
    padding: 15px;
    border: 2px solid black;
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.chat *{
  margin-bottom: 15px;
  font-size: 18px;
}
.userMessage{
  color: black;
  width: fit-content;
  max-width: 80%;
  align-self: flex-end;
  justify-content: start;
  
  
}
.modelMessage{
  width: 80%;
  align-self: flex-start;
  color: rgb(0, 115, 207);
}
#message{
  height: 80px;
}
textarea:disabled{
  background-color: lightgrey;
}
.replyButton{
  width: 80px;
}
.replyButton:disabled{
  background-color: grey;
}
.feedbackButton{
  background-color: rgb(183, 18, 52) !important;
  width: 100px;
}
icon{
  height: 100px;
}

@keyframes dot1 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot2 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loadingDots {
  display: inline-block;
}

.dot1 {
  animation: dot1 1.5s infinite;
}

.dot2 {
  animation: dot2 1.5s infinite;
}
