.body{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background-color: lightgrey;
  }
  .body *{
    font-family: Lato, Helvetica, Arial;
  }
  .nav{
    width: 100%;
    height: auto;
  }
  .banner, .footer{
    width: 80%;
    height: auto;
  }
  .pageContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    background-color: white;
    height: 400px;
    padding-top: 20px;
  }
  .calculators{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  
  }
  .calculators *{
    margin: 20px;
  }